<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          [routerLink]="'home'"
          routerLinkActive="active"
          href="#"
          class="nav-link"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="'user'"
          routerLinkActive="active"
          href=""
          class="nav-link"
          >Users</a
        >
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      <li class="nav-item">
        <a href="#" class="nav-link fs-3">Users: {{ count }} </a>
      </li>
      <li class="nav-item hover" style="cursor: pointer">
        <a (click)="onSwitchLanguage()" class="nav-link"
          >Language: {{ language$ | async }}</a
        >
      </li>
    </ul>
  </header>
</div>
