<div class="container mt-5">
  <h1>
    {{
      (changeLanguage$ | async) === "ka"
        ? "მომხმარებლების გევრდი"
        : "Users Page"
    }}
  </h1>

  <button (click)="showForm()" class="btn btn-success">Add New User</button>

  <app-user-list
    [users]="usersData"
    [selectedId]="selectedUserId"
    (selectUserEvent)="selectedUserId = $event"
    (deleteUserEvent)="onDeleteUser($event)"
    (edit)="onEdit($event)"
    (fullInfo)="onGetUserInfo($event)"
  ></app-user-list>

  <app-form
    *ngIf="addNewUserMode || chosenUserToEdit"
    (onSubmit)="onSubmit($event)"
    [chosenUserToEdit]="chosenUserToEdit"
  ></app-form>

  <ng-container class="border border-primary" *ngIf="chosenUSerForFullDetails">
    <h1>Name: {{ chosenUSerForFullDetails.name }}</h1>
    <h2>Lastname: {{ chosenUSerForFullDetails.lastname }}</h2>
    <h3>Age: {{ chosenUSerForFullDetails.age }}</h3>
  </ng-container>
</div>



